<header class="header">
  <nav class="navbar">
    <div class="navbar__menu">
      <div class="navbar__logo">
        <a class="logo" href="/"><i class="fa-solid fa-trowel-bricks"></i></a>
        <span class="logo__name">RESOURCE</span>
        <span class="logo__name">WALL</span>
      </div>
      <a class="menu__item add_res" href="/">Home</a>
      <a class="menu__item add_res" href="/search">Search</a>
      <a class="menu__item add_res" href="/my_resources">My resources</a>
      <a class="menu__item add_res" href="/new">Add resource</a>
    </div>
    <div class="navbar__form-container"></div>
  </nav>
</header>
