<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Users</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />

    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/users.js"></script>
  </head>

  <body>
    <form class="form__search" action="/login" method="POST">
      <div class="form__search__wrapper">
        <!-- <label class="search__label" for="email">Email address</label> -->
        <input
          class="search__input input_email"
          type="email"
          name="email"
          placeholder="Enter email"
        />
        <button type="submit" class="search_button button">Search</button>
      </div>
    </form>
  </body>
</html>
