@import "_constants";

@import "_resource";
@import "_header";
@import "_search";

body {
  background-color: $background-color-body;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
  padding: 0 30px;
  color: $color-primary;
  display: flex;
  flex-direction: column;
}
h3 {
  color: $title-color;
}
