@import "_constants";
@import "_buttons";

@import "_resource";
@import "_header";
@import "_search";

body {
  // background-color: $background-color-body;
  background-color: $color-light;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
  color: $color-primary;
  display: flex;
  flex-direction: column;
}
h3 {
  color: $color-primary;
}
